/*
 * home.css
 * Here are styles custom to my site, not from bootstrap or any 3rd party. 
 * David Lenkner, c. 2017
 */


#main-holder {
	text-align: center;
}

.task {
	margin: 10px;
}

#add-task-holder {
	margin: 10px;
}
